<%- include ('../partials/navigation') %>

<div class="w3-padding-64" style="height:100vh; width:100%">
    <div class="w3-half w3-grey w3-container" style="height:100%; width:100%">
        <div class="w3-center">
        <div class="offset-md-3 col-md-3">
            <h1><%= title %></h1>
            <div class="container">  

            <% for(var i in messages) { %>
                <div class="flash"><%= messages[i] %></div>
            <% } %>
            <form action="/signup" method="post" validate>
                <div class="form-group">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" value="<%= user.username %>" class="form-control" required>
       
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" value="<%= user.username %>" class="form-control" required/>
        
        <label><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="password_confirm" class="form-control"/>
                </div>
                <br>
                <div>
                    <button type="submit" value="Sign up" style="background-color: rgb(8, 70, 163);">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
    </div>

<%- include ('../partials/footer') %>